body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: #006400;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
div {
  text-align: center;
}
a {
  text-align: center;
  margin: 0 auto;
  display: block;
}
ul {
  list-style: none;
}
