<!DOCTYPE html>
<html>
  <head>
     
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Contact Us</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/Help.css')}}"
    />
  </head>
  <header>
      <nav>
       <div class="dropdown">
          <button class="dropbtn">
            <span class="material-symbols-outlined">
              menu
            </span>
          </button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="#">Services</a>
            <a href="/Help">Help</a>
       </div>
      </nav>
  </header>
  <body>
    <h1>Contact Us</h1>
    <p>Phone: {{ contact_info.telephone }}</p>
    <p>Email: {{ contact_info.email }}</p>
  </body>
</html>
