<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Soil Analysis And Crop Recommendation System</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='style/myhome.css')}}"
    />
  </head>
  <body>
    <header>
      <nav>
       <div class="dropdown">
          <button class="dropbtn">Menu</button>
          <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="#">Services</a>
            <a href="/Help">Help</a>
       </div>
      </nav>
    </header>
    <main>
      <h1>Soil Analysis And Crop Recommendation System</h1>
      <p class="welcome-text">
        Welcome to Soil Analysis And Crop Recommendation System.
      </p>
      <p class="about-text"></p>
      <form action="/predict" method="get">
        <button type="submit" class="start-button">Start Soil Analysis</button>
      </form>
    </main>
  </body>
</html>
