<!DOCTYPE html>
<html>
<head>
    <title>Soil Analysis And Crop Recommendation System</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}" />
    <style>
        .parameter-container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        .parameter {
            width: calc(50% - 5px);
            box-sizing: border-box;
            padding: 5px;
        }

        .parameter label {
            display: block;
            margin-bottom: 3px;
        }

        .parameter input {
            width: calc(100% - 10px);
            padding: 5px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <header>
        <div class="wrapper">
            <div class="sidebar">
                <h2></h2>
                <ul>
                    <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                    <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
                    <li><a href="#"><i class="fas fa-tools"></i>Services</a></li>
                    <li><a href="#" id="showHistoryBtn"><i class="fas fa-history"></i>History</a></li>
                    <li><a href="#"><i class="fas fa-question-circle"></i>Help</a></li>
                </ul>
                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <h1>Soil Analysis And Crop Recommendation System</h1>
        <p class="welcome-text">Welcome to Soil Analysis And Crop Recommendation System.</p>
        <p class="about-text"></p>
    
        <button id="start-analysis-button" class="start-button">Start Soil Analysis</button>
    
        <div id="prediction-form-container" style="display: none;">
            <form id="prediction-form" class="design input-container" action="/predict" method="post">
                <label for="district">Select Location:</label>
                <select id="district" name="district" onchange="populateFields()">
                    <option value="">--Select Location--</option>
                    <option value="Chiradzulu">Chiradzulu</option>
                    <option value="Blantyre">Blantyre</option>
                    <option value="Thyolo">Thyolo</option>
                    <option value="Zomba">Zomba</option>
                    <option value="Chikwawa">Chikwawa</option>
                </select>
    
                <div class="parameter-container">
                    <div class="parameter">
                        <label for="humidity">Humidity</label>
                        <input type="text" id="humidity" name="humidity" />
                    </div>
                    <div class="parameter">
                        <label for="Temperature">Temperature</label>
                        <input type="text" id="Temperature" name="Temperature" />
                    </div>
                    <div class="parameter">
                        <label for="ZINC">ZINC</label>
                        <input type="text" id="ZINC" name="ZINC" />
                    </div>
                    <div class="parameter">
                        <label for="IRON">IRON</label>
                        <input type="text" id="IRON" name="IRON" />
                    </div>
                    <div class="parameter">
                        <label for="CARBON">CARBON</label>
                        <input type="text" id="CARBON" name="CARBON" />
                    </div>
                    <div class="parameter">
                        <label for="MAGNESIUM">MAGNESIUM</label>
                        <input type="text" id="MAGNESIUM" name="MAGNESIUM" />
                    </div>
                    <div class="parameter">
                        <label for="ALUMINIUM">ALUMINIUM</label>
                        <input type="text" id="ALUMINIUM" name="ALUMINIUM" />
                    </div>
                    <div class="parameter">
                        <label for="CALCIUM">CALCIUM</label>
                        <input type="text" id="CALCIUM" name="CALCIUM" />
                    </div>
                    <div class="parameter">
                        <label for="DEPTH">DEPTH</label>
                        <input type="text" id="DEPTH" name="DEPTH" />
                    </div>
                    <div class="parameter">
                        <label for="STONINESS">STONINESS</label>
                        <input type="text" id="STONINESS" name="STONINESS" />
                    </div>
                    <div class="parameter">
                        <label for="rainfall">Rainfall</label>
                        <input type="text" id="rainfall" name="rainfall" />
                    </div>
                </div>
    
                <div class="parameter">
                    <label for="Nitrogen">Nitrogen</label>
                    <input type="text" id="Nitrogen" name="Nitrogen" />
                </div>
                <div class="parameter">
                    <label for="Phosphorus">Phosphorus</label>
                    <input type="text" id="Phosphorus" name="Phosphorus" />
                </div>
                <div class="parameter">
                    <label for="Potassium">Potassium</label>
                    <input type="text" id="Potassium" name="Potassium" />
                </div>
                <div class="parameter">
                    <label for="pH">pH</label>
                    <input type="text" id="pH" name="pH" />
                </div>
                <button class="start-button" type="submit">Submit</button>
            </form>
        </div>
    </main>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>History</h2>
            <p>Modal content goes here...</p>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function populateFields() {
            const district = document.getElementById("district").value;
            if (district) {
                $.ajax({
                    url: '/district-data',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        if (data[district]) {
                            document.getElementById("humidity").value = data[district].humidity;
                            document.getElementById("Temperature").value = data[district].temperature;
                            document.getElementById("ZINC").value = data[district].zinc;
                            document.getElementById("IRON").value = data[district].iron;
                            document.getElementById("CARBON").value = data[district].carbon;
                            document.getElementById("MAGNESIUM").value = data[district].magnesium;
                            document.getElementById("ALUMINIUM").value = data[district].aluminium;
                            document.getElementById("CALCIUM").value = data[district].calcium;
                            document.getElementById("DEPTH").value = data[district].depth;
                            document.getElementById("STONINESS").value = data[district].stoniness;
                            document.getElementById("rainfall").value = data[district].rainfall;
                        }
                    }
                });
            }
        }

        $(document).ready(function() {
            $("#start-analysis-button").click(function() {
                $("#prediction-form-container").show();
            });

            // Close modal
            $(".close-button").click(function() {
                $("#myModal").hide();
            });

            // Open modal
            $("#showHistoryBtn").click(function() {
                $("#myModal").show();
            });
        });
    </script>
</body>
</html>
